div.post {
  padding-left:2.5%;
  padding-right:2.5%;
}

div.post img.content {
  width:100%;
  height:auto;
  margin-top:1em;
  margin-bottom:0.5em;
}

div.post hr {
  border-color: rgba(0,0,0,0.1);
}

div.post-info {
  margin-left: 1em;
}

span.nickname {
  display: block;
  color: #00A478;
  font-weight: bold !important;
  font-size: 18px;
  text-align: left !important;
}

span.text {
  text-align: justify !important;
  display: inline-block;
  font-size: 16px;
}

span.likes, span.rt {
  font-weight: 1200 !important;
}