CONTENT_HEIGHT = PULL_CONTENT - ( PULL_PADDING * 2)
ICON_RADIUS    = CONTENT_HEIGHT / 2 + PULL_BORDER
INITIAL_POS    = PULL_HEIGHT

div.pulltorefresh
  width 100%
  padding-top PULL_HEIGHT - PULL_CONTENT
  padding-bottom PULL_PADDING
  transition -webkit-transform 0ms
  transform(translate(0,- INITIAL_POS))
  margin-bottom - INITIAL_POS

  & span
    height CONTENT_HEIGHT
    line-height CONTENT_HEIGHT

    &.icon, &.icon.animated
      display block
      margin-left auto
      margin-right auto
      width ICON_SIZE_SMALL
      font-size ICON_SIZE_SMALL

      &.down-big
        transition-duration 500ms

      &.animated
        margin-top ICON_SIZE_SMALL
        margin-bottom -5px

      &.rotated
        transform(rotate(180deg))

.pulling > div
  position static!important